<div class="container animated fadeInUp">
    <nb-card accent="info" [nbSpinner]="busy" nbSpinnerSize="giant" nbSpinnerStatus="primary">
      <a routerLink="pages/books">
        <span style="font-size: 1.5em">
          <i class="fas fa-arrow-left"></i>
        </span>
      </a>
        <nb-card-header>
          Editar Livro
        </nb-card-header>
        <nb-list>
          <nb-list-item>
            <form [formGroup]= "form">
              <div class="form-group row">
                    <label class="label col-sm-3 col-form-label">Título:</label>
                    <div class="col-sm-9">
                    <input nbInput fullWidth placeholder="Titulo do Livro" formControlName="titulo" type="text"
                    >
                    </div>
                    
                    <br/>
                    <br/>
                    <br/>

                    <label class="label col-sm-3 col-form-label">Selecionar foto da capa:</label>
                    <div class="col-sm-9">
                        <button nbButton>
                            <input formControlName="novaFotoUrl" type="file"
                            >
                          </button>
                    </div>

                    <br/>
                    <br/>
                    <br/>


                    <label class="label col-sm-3 col-form-label">Autor:</label>
                    <div class="col-sm-9">
                    <input nbInput fullWidth placeholder="Autor do Livro" formControlName="autor" type="text"
                    >
                    </div>

                    <br/>
                    <br/>
                    <br/>

                    <label class="label col-sm-3 col-form-label">Editora:</label>
                    <div class="col-sm-9">
                    <input nbInput fullWidth placeholder="Editora do Livro" formControlName="editora" type="text"
                   >
                    </div>

                    <br/>
                    <br/>
                    <br/>

                    <label class="label col-sm-3 col-form-label">Código:</label>
                    <div class="col-sm-9">
                    <input nbInput fullWidth placeholder="Código do Livro" formControlName="codigo" type="text"
                    >
                    </div>

                    <br/>
                    <br/>
                    <br/>

                    <label class="label col-sm-3 col-form-label">Descrição:</label>
                    <div class="col-sm-9">
                    <textarea formControlName="observacoes" rows="5" nbInput fullWidth placeholder="Resumo do livro"
                    ></textarea>
                    </div>



                    <label class="label col-sm-3 col-form-label">Estado físico do Livro:</label>
                    <div class="col-sm-9">
                        <nb-radio-group formControlName="estado">
                            <nb-radio [checked]="form.controls.estado.value === 0" value=0> Bom </nb-radio>
                            <nb-radio [checked]="form.controls.estado.value === 1" value=1> Regular </nb-radio>
                            <nb-radio [checked]="form.controls.estado.value === 2" value=2> Ruim </nb-radio>
                        </nb-radio-group>
                    </div>
               
                        
                </div>
              
              
              <div class="form-group row">
                <button nbTooltip="Salvar Livro." nbTooltipStatus="success" nbButton status="success" (click)="submit()" [disabled]="form.invalid">Salvar</button>
              </div>
            
            </form>
          </nb-list-item>
        </nb-list>
      </nb-card>
</div>