<div class="container" *ngIf="busy">
  <div class="row">
    <nb-card accent="info" class="animated fadeInRight">
      <a routerLink="/">
        <span style="font-size: 1.5em">
          <i class="fas fa-arrow-left"></i>
        </span>
      </a>
      <nb-card-header>
        {{ book.titulo }}
      </nb-card-header>
      <nb-card-body>
        <img src="{{ book.fotoUrl }}"
          alt="teste" width="250" height="300"><br><br>
        <P><small><strong>{{ book.codigo }}</strong></small></P>
        <p>{{ book.observacoes }}
        </p><br>
        
        <button *ngIf="!book.emprestado" nbButton outline status="primary" (click)="open()">Quero ler!</button>


        <nb-list *ngIf="book.emprestado">
          <nb-list-item>
            <i class="far fa-calendar-plus"></i>
            <strong><label>Data da
                solicitação:</label></strong><label>{{ loan.dataEmprestimo  | date: 'dd/MM/yyyy'}}</label><br>
            <i class="far fa-calendar-minus"></i>
            <strong><label>Data Prev.
                Devolução:</label></strong><label>{{ loan.dataPrevDevolucao | date: 'dd/MM/yyyy' }}</label><br>
            <i class="far fa-user-circle"></i>
            <strong><label>Usuário:</label></strong><label> {{ loan.usuarioId }}</label><br>

              <i class="fas fa-info-circle text-warning"></i>
              <strong class="text-warning"><label>  Emprestado</label></strong>
            
          </nb-list-item>
          </nb-list>

      </nb-card-body>
    </nb-card>

  </div>
</div>