nb-card {
  margin: 0 auto 2rem;
  margin-top: 20px;
  width: 70vw;
  text-align: center;
}

button {
  width: 30vw;
}

a {
  position: fixed;
  z-index: 10;
  margin-top: 20px;
  margin-left: 10px;
}

nb-list, nb-list-item {
  margin: 0 auto;
  text-align: left;
}

nb-list-item {
  display: block;
}

i, strong, small {
  padding-right: 5px;
}