<div class="container">
  <div class="row">
    <nb-card accent="info" class="animated fadeInRight">
      <a routerLink="/">
        <span style="font-size: 1.5em">
          <i class="fas fa-arrow-left"></i>
        </span>
      </a>
      <nb-card-header>
        {{ book.titulo }}
      </nb-card-header>
      <nb-card-body>
        <img src="{{ book.fotoUrl }}"
          alt="teste" width="250" height="300"><br><br>
        <P><small><strong>{{ book.codigo }}</strong></small></P>
        <p>{{ book.observacoes }}
        </p><br>
        <button nbButton outline status="primary" (click)="open()">Quero ler!</button>
      </nb-card-body>
    </nb-card>
  </div>
</div>