<div class="container">
  <nb-tabset fullWidth>
    <nb-tab tabTitle="Disponíveis">
      <div class="row">
        
        
        <nb-card status="primary" class="animated fadeInUp" *ngFor="let book of availableBooks">
          <nb-card-header>{{ book.titulo.substring(0, 20) }}...</nb-card-header>
          <nb-card-body>
            <img
              src="{{ book.fotoUrl }}"
              alt="teste" width="200" height="220"><br><br>
            <a routerLink="/pages/book-detail/{{ book.id }}" nbButton status="primary">Detalhes</a>
          </nb-card-body>
        </nb-card>
    

      </div>
    </nb-tab>

    <nb-tab tabTitle="Todos" class="animated fadeInUp">
      <div class="row">
        
        <div *ngFor="let book of allBooks">
          
          <nb-card status="danger" *ngIf="book.emprestado" >
            <nb-card-header>{{ book.titulo.substring(0, 20) }}...</nb-card-header>
            <nb-card-body>
              <img
                src="{{ book.fotoUrl }}"
                alt="teste" width="200" height="220"><br><br>
              <a routerLink="/pages/book-detail/{{ book.id }}" nbButton status="danger">Detalhes</a>
            </nb-card-body>
          </nb-card>

          <nb-card status="success" *ngIf="!book.emprestado" >
            <nb-card-header>{{ book.titulo.substring(0, 20) }}...</nb-card-header>
            <nb-card-body>
              <img
                src="{{ book.fotoUrl }}"
                alt="teste" width="200" height="220"><br><br>
              <a routerLink="/pages/book-detail/{{ book.id }}" nbButton status="success">Detalhes</a>
            </nb-card-body>
          </nb-card>

        </div>
        
      </div>
    </nb-tab>
  </nb-tabset>
</div>