nb-card {
    max-width: 50vw;
    margin: 0 auto 2rem;
  }
  
  i, strong, small, label {
    padding-right: 5px;
  }
  
  .block {
    display: block;
  }
  
  strong#user {
    font-size: 1em;
  }
  
  .clickable {
    cursor: pointer;
    transition-duration: 0.5s;
    transition: transform 0.5s;
  }
  
  .clickable:hover {
    background-color: rgba(0, 0, 0, 0.1);
    transform: scale(1.02);
    transition: background-color 1s;
    transition: transform 0.5s;
  }

  .update-book {
    margin: 0 auto;
  }