<div class="container animated fadeInRight">
  <nb-card>
    <nb-card-header>
      Titulo do Livro
    </nb-card-header>
    <nb-list>
      <nb-list-item>
        <div class="center">
          <img
            src="https://lojasaraiva.vteximg.com.br/arquivos/ids/12109069-200-200/1006574337.jpg?v=637142248039070000"
            alt="teste" width="200" height="250">
        </div>
        <br><br>
        <i class="far fa-calendar-plus"></i>
        <strong><label>Data da solicitação:</label></strong><label>25/07/2020 11:10</label><br>
        <i class="far fa-calendar-minus"></i>
        <strong><label>Data Prev. Devolução:</label></strong><label>25/07/2020 11:10</label><br>
        <i class="far fa-calendar-check"></i>
        <strong><label>Data de devolução:</label></strong><label> </label><br>
        <i class="far fa-user-circle"></i>
        <strong><label>Usuário:</label></strong><label>Marcos Rezende</label><br>
        <i class="fas fa-info-circle text-info"></i>
        <strong class="text-info"><label>Status: Pendente</label></strong>
      </nb-list-item>
    </nb-list>
  </nb-card>

  <!-- Card para Pendente -->
  <nb-card accent="info">
    <nb-card-header>
      Confirmação de Empréstimo
    </nb-card-header>
    <nb-list>
      <nb-list-item>
        <form>
          <div class="form-group row">
            <label class="label col-sm-3 col-form-label">Data Prev. Devolução:</label>
            <div class="col-sm-9">
              <input nbInput fullWidth placeholder="Escolha uma data" [nbDatepicker]="formpicker">
              <nb-datepicker #formpicker format="dd/MM/yyyy"></nb-datepicker>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword2" class="label col-sm-3 col-form-label">Observações:</label>
            <div class="col-sm-9">
              <textarea rows="5" nbInput fullWidth placeholder="Ex.: Livro entregue em ótimo estado."></textarea>
            </div>
          </div>
          <div class="form-group row">
            <button nbTooltip="Confirmar o empréstimo." nbTooltipStatus="success" nbButton
              status="success">Confirmar</button>
            <button nbTooltip="Cancelar o empréstimo." nbTooltipStatus="danger" nbButton
              status="danger">Cancelar</button>
          </div>
        </form>
      </nb-list-item>
    </nb-list>
  </nb-card>

  <!-- Card para Emprestado -->
  <nb-card accent="info">
    <nb-card-header>
      Confirmação de Devolução
    </nb-card-header>
    <nb-list>
      <nb-list-item>
        <form>
          <div class="form-group row">
            <label class="label col-sm-3 col-form-label">Data Devolução:</label>
            <div class="col-sm-9">
              <input nbInput fullWidth placeholder="Escolha uma data" [nbDatepicker]="formpicker">
              <nb-datepicker #formpicker format="dd/MM/yyyy"></nb-datepicker>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword2" class="label col-sm-3 col-form-label">Observações:</label>
            <div class="col-sm-9">
              <textarea rows="5" nbInput fullWidth placeholder="Ex.: Livro entregue em ótimo estado."></textarea>
            </div>
          </div>
          <div class="form-group row">
            <button nbTooltip="Confirmar o devolução." nbTooltipStatus="success" nbButton
              status="success">Confirmar</button>
          </div>
        </form>
      </nb-list-item>
    </nb-list>
  </nb-card>
</div>

<!-- Card para Cancelado e Devolvido -->

<nb-card accent="info">
  <nb-card-header>
    Detalhes do Empréstimo
  </nb-card-header>
  <nb-list>
    <nb-list-item>
      <form>
        <div class="form-group row">
          <label for="inputPassword2" class="label col-sm-3 col-form-label">Observações:</label>
          <div class="col-sm-9">
            <textarea rows="5" nbInput fullWidth placeholder="Ex.: Livro entregue em ótimo estado." disabled></textarea>
          </div>
        </div>
      </form>
    </nb-list-item>
  </nb-list>
</nb-card>