nb-card-header, .center {
  text-align: center;
}

nb-card {
  margin: 0 auto 2rem;
  margin-top: 0;
  margin-bottom: 10px;
  max-width: 50vw;
}

nb-list, nb-list-item {
  margin: 0 auto;
}

nb-list-item {
  display: block;
}

i, strong, small {
  padding-right: 5px;
}

textarea {
  resize: none;
  margin-bottom: 30px;
}

a {
  width: 100px;
  margin: 0 auto 2rem;
  margin-bottom: 5px;
}