<div class="container">
  <nb-tabset fullWidth>
    <nb-tab tabTitle="Pendentes" class="animated fadeInUp">
      <nb-card>
        <nb-list>
          <nb-list-item class="clickable" (click)="goToDetail()">
            <div class="container">
              <label>
                <strong>Codigo Limpo</strong><br>
                <small>25/07/2020 10:17</small><br>
                Marcos Rezende<br>
              </label>
            </div>
          </nb-list-item>
          <nb-list-item class="clickable">
            <div class="container">
              <label>
                <strong>Codigo Limpo</strong><br>
                <small>25/07/2020 10:17</small><br>
                Marcos Rezende<br>
              </label>
            </div>
          </nb-list-item>
        </nb-list>
      </nb-card>
    </nb-tab>
    <nb-tab tabTitle="Emprestados" class="animated fadeInUp">
    </nb-tab>
  </nb-tabset>
</div>