<div class="container">
  <nb-tabset fullWidth>
    <nb-tab tabTitle="Pendentes" class="animated fadeInUp">
      <nb-card>
        <nb-list>
          <nb-list-item *ngFor="let loan of pendingLoans" class="clickable" (click)="goToDetail(loan.id)">
            <div class="container block">
              <label>
                <i class="fab fa-buffer text-primary"></i>
                <strong class="text-primary">Codigo: {{ loan.id }}</strong><br>
                <i class="far fa-user-circle text-info"></i>
                <label class="label text-info"> Usuário: {{ loan.usuarioId }}</label><br>
                <i class="far fa-calendar-plus"></i>
                <small>Data Empréstimo: {{ loan.dataEmprestimo | date: 'dd/MM/yyyy HH:mm'}}</small><br>
                <i class="far fa-calendar-minus"></i>
                <small>Data Prev. Devolução: {{ loan.dataPrevDevolucao | date: 'dd/MM/yyyy'}}</small>
              </label>
            </div>
          </nb-list-item>
        </nb-list>
      </nb-card>

      <div *ngIf="pendingLoans.length == 0" class="container centered">
        <h3 class="text-primary">Não encontramos nenhum Empréstimo :/</h3>
        <div>
          <img src="../../../assets/images/search.svg" id="search">
        </div>
      </div>
    </nb-tab>
    <nb-tab tabTitle="Emprestados" class="animated fadeInUp">
      <nb-card>
        <nb-list>
          <nb-list-item *ngFor="let loan of loanedLoans" class="clickable" (click)="goToDetail(loan.id)">
            <div class="container block">
              <label>
                <i class="fab fa-buffer text-primary"></i>
                <strong class="text-primary">Codigo: {{ loan.id }}</strong><br>
                <i class="far fa-user-circle text-info"></i>
                <label class="label text-info"> Usuário: {{ loan.usuarioId }}</label><br>
                <i class="far fa-calendar-plus"></i>
                <small>Data Empréstimo: {{ loan.dataEmprestimo | date: 'dd/MM/yyyy HH:mm'}}</small><br>
                <i class="far fa-calendar-minus"></i>
                <small>Data Prev. Devolução: {{ loan.dataPrevDevolucao | date: 'dd/MM/yyyy'}}</small>
              </label>
            </div>
          </nb-list-item>
        </nb-list>
      </nb-card>

      <div *ngIf="loanedLoans.length == 0" class="container centered">
        <h3 class="text-primary">Não encontramos nenhum Empréstimo :/</h3>
        <div>
          <img src="../../../assets/images/search.svg" id="search">
        </div>
      </div>
    </nb-tab>
  </nb-tabset>
</div>