<nb-layout>
  <nb-layout-column class="background">
    <nb-card>
      <div class="container">
        <div class="row">
          <div class="column first centered content">
            <img id="logo" src="../../../assets/logo/logo.png" alt="Logo"><br><br>
            <h3 class="text-primary">Seja bem vindo!</h3><br><br>
            <button nbButton hero status="primary">
              <img src="../../../assets/images/google.svg" alt="Google" style="float:left;margin-right:0.5em">
              Acessar com Google
            </button>
          </div>
          <div class="column second centered">
            <img id="book" src="../../../assets/images/reading-book.svg" alt="Lendo um livro">
          </div>
        </div>
      </div>
    </nb-card>
  </nb-layout-column>
</nb-layout>